<div class="container mt-4">
  <h1>Comentarios</h1>
  <br>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Usuario</th>
        <th>Id - Publicación</th>
        <th>Comentario</th>
        <th class="text-end">Acción</th>
      </tr>
    </thead>
    <tbody>
      <% @comments.each do |comment| %>
        <tr>
          <td><%= comment.user.username if comment.user %></td>
          <td><%= "#{comment.publication.id} - Publicación de #{comment.publication.user.username}" if comment.publication %></td>
          <td><%= comment.content %></td>
          <td class="text-end">
            <%= link_to "Ver", comment_path(comment), class: "btn btn-primary btn-sm" %>
            
            <% if can? :update, comment %>
              <%= link_to "Editar", edit_comment_path(comment), class: "btn btn-primary btn-sm" %>
            <% end %>

            <% if can? :destroy, comment %>
              <%= button_to 'Eliminar', comment_path(comment), method: :delete, data: { confirm: '¿Seguro que desea eliminar este comentario?' }, class: "btn btn-danger btn-sm" %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
