<div class="container mt-4">
  <div class="card text-bg-light mb-3 mx-auto" style="max-width: 24rem;">
    <div class="card-header">Crear comentario</div>
    <div class="card-body">
      
      <% if @comment.errors.any? %>
        <div class="alert alert-danger">
          <h5>Errores al crear nuevo comentario:</h5>
          <ul>
            <% @comment.errors.full_messages.each do |cmt| %>
              <li><%= cmt %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <%= form_with(model: [@publication, @comment], local: true) do |form| %>
        <div class="mb-3">
          <%= form.hidden_field :date_create, value: Date.today %>
          <%= form.hidden_field :user_id, value: current_user.id %>

          <div class="mt-3">
            <strong>Publicación a comentar:</strong> <%= @publication.user.username %> (id: <%= @publication.id %>)
          </div>

          <div class="mt-3">
            <strong><%= form.label :content, "Mensaje" %></strong>
            <%= form.text_area :content, class: "form-control" %>
          </div>

          <div class="d-flex justify-content-between mt-3">
          <%= link_to 'Volver', publication_path(@publication), class: "btn btn-secondary btn-sm" %>
            <%= form.submit "Guardar", class: "btn btn-primary btn-sm" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
