<div class="container mt-4">
  <div class="card text-bg-light mb-3 mx-auto" style="max-width: 24rem;">
    <div class="card-header">Editar Usuario</div>
    <div class="card-body">
      
      <% if @user.errors.any? %>
        <div class="alert alert-danger">
          <h5>Errores al editar usuario:</h5>
          <ul>
            <% @user.errors.full_messages.each do |usr| %>
              <li><%= usr %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <%= form_with(model: @user, local: true) do |form| %>
        <div class="mb-3">
          <%= form.label :name, "Editar nombre" %>
          <%= form.text_field :name, placeholder: "", class: "form-control" %>
        </div>

        <div class="mb-3">
          <%= form.label :mail, "Editar email" %>
          <%= form.email_field :mail, placeholder: "", class: "form-control" %>
        </div>

        <div class="mb-3">
          <%= form.label :username, "Editar username" %>
          <%= form.text_field :username, placeholder: "", class: "form-control" %>
        </div>

        <div class="mb-3">
          <%= form.label :user_image, "Imagen" %>
          <%= form.text_field :user_image, placeholder: "", class: "form-control" %>
        </div>

        <div class="d-flex justify-content-between">
        <%= link_to 'Volver', users_path, class: "btn btn-secondary btn-sm" %>
          <%= form.submit "Actualizar", class: "btn btn-primary btn-sm" %> 
        
        </div>
      <% end %>

    </div>
  </div>
</div>