 <div class="container mt-4">
<br>
<br>
<br>
<br>
<div class="card text-bg-light mb-3 mx-auto" style="max-width: 18rem;">
  <div class="card-header">Informacion</div>
  <div class="card-body">
    <p class="card-text">
    <%= link_to 'Ver mis publicaciones', publications_by_user_path(id:@user.id), class: "btn btn-primary btn-sm"%>

    
    <p>
<strong>Nombre: </strong>
<%= @user.name %>
</p>

<p>
<strong>Username: </strong>
<%= @user.username %>
</p>

<p>
<strong>Email: </strong>
<%= @user.mail %>
</p>

<p>
<strong>Sexo: </strong>
<%= @user.sex %>
</p>

<p>
<strong>Imagen: </strong>
<%= @user.user_image %>
</p>

<p>
<strong>Fecha de creacion: </strong>
<%= @user.date_create %>
</p>

<p>
<strong>Publicaciones creadas: </strong>
<ul>
    <% @publications.each do |publication| %>
      <li>ID de publicación: <%= publication.id %></li>
    <% end %>
  </ul>
</p>

<p>
<%= link_to 'Volver', users_path, class: "btn btn-primary btn-sm" %>
<%= link_to 'Editar', edit_user_path, class: "btn btn-primary btn-sm" %>
</p>

  </div>
  </div>
</div>