<div class="container mt-4">
  <h1>Seguidores</h1>

  <% if can?(:create, Follower) %>
    <%= link_to 'Agregar followers', new_follower_path, class: "btn btn-success mb-3" %>
  <% end %>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Usuario</th>
        <th>Sigue a</th>
        <th class="text-end">Acción</th>
      </tr>
    </thead>
    <tbody>
      <% @followers.each do |follower| %>
        <tr>
          <td><%= follower.user.username if follower.user %></td>
          <td><%= follower.followed_user.username if follower.followed_user %></td>
          <td class="text-end">
            <%= link_to "Ver", follower_path(follower), class: "btn btn-primary btn-sm" %>
            <% if can?(:destroy, follower) %>
              <%= button_to 'Eliminar', follower_path(follower), method: :delete, data: { confirm: '¿Seguro que desea eliminar este follow?' }, class: "btn btn-danger btn-sm" %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
